extends layout
block content
    h1= title

    form(id='chocolateForm', action="/resource/chocolate", method="POST")
        div.form-group(class="form-group")
            label.chocolateAttr(for='choclateName') Chocolate Name
            p
            input#choclateName(type='text', name='choclateName',class="form-control")
        div.form-group(class="form-group")
            label.chocolateAttr(for='chocolateCost') Chocolate Cost
            p
            input#chocolateCost(type='number', name='chocolateCost',class="form-control")
        div.form-group(class="form-group")
            label.chocolateAttr(for='quantityAvailable') Quantity Available
            p
            input#quantityAvailable(type='number', name='quantityAvailable',class="form-control")
        p    
        input(type="submit" , class="btn btn-primary")

    script.
        document.forms['chocolateForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Save succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
        });
        });